<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <feature name="System" manual="selected"/>

    <feature name="Core" manual="selected"/>
    <feature name="UI" manual="selected"/>
    <feature name="Logging" manual="selected"/>

    <feature name="DarkMode" manual="selected"/>
    <feature name="HighContrast" manual="selected"/>

    <feature name="File" manual="unselected"/>
    <feature name="Cloud" manual="unselected"/>
    <feature name="Database" manual="selected"/>

    <feature name="SQL" manual="unselected"/>
    <feature name="NOSQL" manual="selected"/>
    
</configuration>